<!--
We need to put prevHandClass in an outer div because for a brief moment,
it's the same as handClass, which removes it as soon as it's added.
-->
<div {{bindAttr class="view.prevHandClass :outer"}}>
	<div {{bindAttr class="view.handClass :outer"}}>
		<div {{bindAttr class=":hand view.hand.played:played"}}>
			{{#each view.hand}}
				{{view CardView cardBinding="this" handBinding="view.hand"}}
			{{/each}}
		</div>
	</div>
</div>
