{{view.takingSeatName}}
<ul id="trick" {{bindAttr class="view.trick.ending:ending view.takingSeatName"}}>
{{#each view.trick}}
	{{#view TrickCardView cardBinding="this"}}
		<li {{bindAttr class=":card seatName"}}>card={{repr}}</li>
	{{/view}}
{{/each}}
</ul>
