<div class="verticalCenter"><div>
		{{view.takingSeatName}}
		<div id="trick" {{bindAttr class=":center view.trick.ending:ending view.takingSeatName"}}>
			{{#each view.trick}}
				{{view TrickCardView cardBinding="this" seatNameBinding="seatName"}}
			{{/each}}
		</div>
</div></div>
