$totalCards: 13;
$cardSpacingX: 10%;
$cardSpacingY: $cardSpacingX * $cardWidthToHeight;
$selfCardSpacing: 30%; // Of card widths

@mixin selfCardTransform($i, $total, $vertical: 0px) {
	$horiz: ($i + ($totalCards - 1 - $total) / 2)* $selfCardSpacing;
	$half: $total/2;

	@include trans-x-rotate-trans-y($horiz, 0.8px * (($i - $half) * ($i - $half) - $half * $half) + $vertical, ($i - $half) * 2deg);
}

$across-z-index: 10;
$left-z-index: 30;
$right-z-index: 50;
$self-z-index: 70;

$passing-z-index: 80;

@include keyframes(self-played) {
	to {
		@include simple-transform(1, 15deg, 50%, -120%);
	}
}
@include keyframes(left-played) {
	to {
		@include simple-transform(1, -85deg, 0, 200%);
	}
}
@include keyframes(across-played) {
	to {
		@include simple-transform(1, 15deg, 50%, 120%);
	}
}
@include keyframes(right-played) {
	to {
		@include simple-transform(1, 85deg, 100%, 200%);
	}
}

#board {
	$cardPlayDuration: 1.5s;

	$cardHeight: 180px;
	$cardWidth: $cardHeight * $cardWidthToHeight;

	@include full-screen();

	.player {
		@include full-screen();

		.card {
			height: $cardHeight;
			width: $cardWidth;

			&.played {
				@include animation-fill-mode(forwards);
				@include animation-duration($cardPlayDuration);
				@include animation-timing-function(ease-out);
			}
		}

		.hand, .outer {
			@include full-screen();
		}

		.hand.played .card.inHand {
			// Wait until the card play has finished before moving the rest of
			// the cards.
			@include transition-delay($cardPlayDuration);
		}

		.card.inHand {
			@include single-transition(transform, 0.2s, ease-out);
		}

		&.self {
			$left: 40%;
			$right: 80%;
			$rotation: 10deg;

			position: relative;

			.card {
				left: $left;
				bottom: 5%;

				&.played {
					@include animation-name(self-played);
				}
			}

			// This loop has to be in decreasing order. When a lower .hand{#} is
			// applied, it has to override the higher one.
			//@for $totalIncrease from 0 to $totalCards {
			@for $totalIncrease from 0 to $totalCards {
				$total: $totalCards - $totalIncrease;
				.hand#{$total} {
					@for $iIncrease from 1 through $total {
						$i: $total - $iIncrease;
						.card#{$i} .card {
							$maxTotal: $total - 1;

							z-index: $i + 1 + $self-z-index;

							@include selfCardTransform($i, $maxTotal);

							&.selectable:hover {
								@include selfCardTransform($i, $maxTotal, -10px);
							}

							&.selected, &.played {
								// Played starts from here too
								@include selfCardTransform($i, $maxTotal, -20px);
							}
						}
					}
				}
			}
		}

		&.across {
			$left: 40%;
			$right: 70%;

			position: relative;

			.card {
				top: 3%;
				left: $left;

				&.played {
					@include animation-name(across-played);
				}
			}

			@for $totalIncrease from 0 to $totalCards {
				$total: $totalCards - $totalIncrease;
				.hand#{$total} {
					@for $iIncrease from 1 through $total {
						$i: $total - $iIncrease;
						.card#{$i} .card {
							$maxTotal: $total - 1;

							z-index: $maxTotal - $i;

							$horiz: ($i + ($totalCards - 1 - $maxTotal) / 2)* $cardSpacingX;
							$half: $maxTotal/2;
							@include trans-x-rotate-trans-y($horiz, 0.6px * ($half * $half - ($i - $half) * ($i - $half)), ($half - $i) * 4deg);
						}
					}
				}
			}
		}

		&.left {
			$top: 30%;
			$bottom: 80%;

			position: relative;

			.card {
				top: $top;
				left: 5%;

				&.played {
					@include animation-name(left-played);
				}
			}

			@for $totalIncrease from 0 to $totalCards {
				$total: $totalCards - $totalIncrease;
				.hand#{$total} {
					@for $iIncrease from 1 through $total {
						$i: $total - $iIncrease;
						.card#{$i} .card {
							$maxTotal: $total - 1;

							z-index: $i;

							$vert: ($i + ($totalCards - 1 - $maxTotal) / 2) * $cardSpacingY;
							$half: $maxTotal/2;
							@include trans-y-rotate-trans-y($vert, 0.8px * ($half * $half - ($i - $half) * ($i - $half)), -90deg - ($half - $i) * 4deg);
						}
					}
				}
			}
		}

		&.right {
			$top: 10%;
			$bottom: 60%;
			$rotation: 10deg;

			position: relative;

			.card {
				top: $top;
				right: 5%;

				&.played {
					@include animation-name(right-played);
				}
			}

			@for $totalIncrease from 0 to $totalCards {
				$total: $totalCards - $totalIncrease;
				.hand#{$total} {
					@for $iIncrease from 1 through $total {
						$i: $total - $iIncrease;
						.card#{$i} .card {
							$maxTotal: $total - 1;

							z-index: $maxTotal - $i;

							$vert: ($i + ($totalCards - 1 - $maxTotal) / 2) * $cardSpacingY;
							$half: $maxTotal/2;
							@include trans-y-rotate-trans-y($vert, 0.8px * ($half * $half - ($i - $half) * ($i - $half)), 90deg + ($half - $i) * 4deg);
						}
					}
				}
			}
		}
	}
}

#passing {
	z-index: $passing-z-index;
	width: 300px;
	height: 300px;
}
