.player {
	position: absolute;

	.badge {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 1px solid #0F0;
		z-index: 20; // Above all cards
	}

	&.self .badge {
		bottom: 10%;
		left: 30%;
	}

	&.left .badge {
		left: 15%;
		top: 40%;
	}

	&.across .badge {
		top: 20%;
		left: 40%;
	}

	&.right .badge {
		right: 15%;
		top: 40%;
	}
}
