@import 'compass';

html, body {
	margin: 0;
	padding: 0;
}

$cardWidthToHeight: 63/88;

@mixin full-screen() {
	width: 100%;
	height: 100%;
	position: absolute;
}

div.ember-view {
	@include full-screen();
}

@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: -o-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@function percent-pos($position, $start: 0%, $end: 100%) {
	@return ($end - $start) * ($position / 100%) + $start;
}

@mixin percentPos($property, $position, $size, $start: 0%, $end: 100%) {
	$adjustedPosition: ($end - $start) * ($position / 100%) + $start;
	@include calc($property, '#{$adjustedPosition} - #{$size * ($position / 100%)}');
}

@mixin trans-x-rotate-trans-y($x, $y, $rotation) {
	-webkit-transform: translateX($x) rotate($rotation) translateY($y);
	-moz-transform: translateX($x) rotate($rotation) translateY($y);
	-ms-transform: translateX($x) rotate($rotation) translateY($y);
	-o-transform: translateX($x) rotate($rotation) translateY($y);
	transform: translateX($x) rotate($rotation) translateY($y);
}

@mixin trans-y-rotate-trans-y($y1, $y2, $rotation) {
	-webkit-transform: translateY($y1) rotate($rotation) translateY($y2);
	-moz-transform: translateY($y1) rotate($rotation) translateY($y2);
	-ms-transform: translateY($y1) rotate($rotation) translateY($y2);
	-o-transform: translateY($y1) rotate($rotation) translateY($y2);
	transform: translateY($y1) rotate($rotation) translateY($y2);
}

@mixin relativeBase($position) {
	position: $position;
	display: inline-block;
}

@mixin relativeWidth($position: relative) {
	@include relativeBase($position);
	& > img.aspectRatio {
		height: 100%;
		width: auto;
	}

	& > .ember-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.verticalCenter {
	display: table;
	width: 100%;
	height: 100%;

	&> :first-child {
		display: table-cell;
		vertical-align: middle;
	}
}
